html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2,
p {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

h2 {
  display: block;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 100%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.centre {
  height: 27em;
  width: 40em;
  border-style: solid;
  border-width: medium;
  border-radius: 7px;
  padding: 2em;
  justify-content: center;
}

section {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.login-title,
.login-description,
.login-otp {
  margin: 2em 1em;
}

.login-description {
  margin: 0 2em;
}

input {
  width: 3em;
  height: 4em;
  border: 2px solid #ccc;
  border-radius: 7px;
  line-height: 50px;
  text-align: center;
  font-size: 1.7em;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin: 2px 2px;
  padding: 1px 2px;

  -webkit-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

input:visited {
  border-color: rgb(78, 197, 252);
  border-width: 2px;
  box-shadow: 0px 10px 10px -8px rgba(1, 1, 1, 0.5);
}

input:hover {
  border-color: rgb(64, 167, 214);
  border-width: 3px;
}

input:focus {
  border-color: rgb(78, 197, 252);
  border-width: 2px;
  box-shadow: 0px 10px 10px -8px rgba(1, 1, 1, 0.5);
}

input:active {
  border-color: rgb(78, 197, 252);
  border-width: 2px;
  box-shadow: 0px 10px 10px -8px rgba(1, 1, 1, 0.5);
}

.disclaimer {
  background-color: rgb(240, 240, 240);
  padding: 1em;
  font-size: 0.8em;
}

.login-disclaimer {
  margin: 0 5em;
}
